.l-heading.col-12
  .container
    %h1.u-font-size-big.font-weight-bold.mb-0.d-flex.align-items-center
      = image_tag(@user.avatar.url, alt: "ユーザープロフィール画像", class: "u-image-size-small rounded-circle mr-2")
      = @user.name

.c-tab
  .c-tab-item.c-tab-item--active.col-6
    %i.fas.fa-user.mr-1<>
    プロフィール
  = link_to user_articles_path(@user), class: "c-tab-item col-6" do
    %i.fas.fa-newspaper.mr-1<>
    募集

.c-content-column.col-12
  .c-content-column__label
    %i.fas.fa-quote-right<>
    自己紹介文
  .c-content-column__value
    = simple_format @user.introduction.html_safe

.c-content-column.col-12
  .c-content-column__label
    %i.fas.fa-map-marker-alt<>
    活動都道府県
  .c-content-column__value
    = @user.activity_prefecture_names_ja

.c-content-column.col-12
  .c-content-column__label
    %i.fas.fa-venus-mars<>
    性別
  .c-content-column__value
    = @user.gender_with_icon

.c-content-column.col-12
  .c-content-column__label
    %i.fas.fa-birthday-cake<>
    年齢
  .c-content-column__value
    = "#{@user.age}歳"

.form-group.col-12.mt-5
  %label メッセージ
  %textarea.form-control{ rows: 5, placeholder: "#{@user.name}様にメッセージを送って、友達になりましょう！" }
  .c-btn.c-btn--primary.c-btn--block.mt-1
    %i.fas.fa-paper-plane
    メッセージを送る
