.l-heading.col-12
  .container.u-font-size-small.d-flex.align-items-center.mb-2
    = link_to root_path do
      = image_tag(@article.user.avatar.url, class: "u-image-size-thumbnail rounded-circle mr-1")
      %span.mr-3= @article.user.name
    %span.text-muted.u-font-size-ext-small= @article.created_at.strftime("%Y/%m/%d %H:%M")
  .container
    %h1.u-font-size-regular.font-weight-bold.mb-0= @article.title

.c-content-column.col-12
  .c-content-column__label
    %i.fas.fa-quote-right<>
    募集内容
  .c-content-column__value
    = @article.body.html_safe

.c-content-column.col-12
  .c-content-column__label
    %i.fas.fa-map-marker-alt<>
    都道府県
  .c-content-column__value
    = @article.prefecture_names_ja


.c-content-column.col-12
  .c-content-column__label
    %i.fas.fa-user-alt<>
    投稿者
  = link_to user_path(@article.user), class: "c-content-column__value d-flex align-items-center" do
    = image_tag(@article.user.avatar.url, class: "mr-1")
    = @article.user.name

= render 'conversations/form', conversation: @conversation, user: @article.user
