%h1 Listing improvement_requests

%table
  %thead
    %tr
      %th User
      %th Type
      %th Title
      %th Body
      %th
      %th
      %th

  %tbody
    - @improvement_requests.each do |improvement_request|
      %tr
        %td= improvement_request.user
        %td= improvement_request.type
        %td= improvement_request.title
        %td= improvement_request.body
        %td= link_to 'Show', improvement_request
        %td= link_to 'Edit', edit_improvement_request_path(improvement_request)
        %td= link_to 'Destroy', improvement_request, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Improvement request', new_improvement_request_path
