%p#notice= notice

%p
  %b User:
  = @improvement_request.user
%p
  %b Type:
  = @improvement_request.type
%p
  %b Title:
  = @improvement_request.title
%p
  %b Body:
  = @improvement_request.body

= link_to 'Edit', edit_improvement_request_path(@improvement_request)
\|
= link_to 'Back', improvement_requests_path
