- breadcrumb :users_articles, @user

.l-heading.col-12
  .container
    %h1.u-font-size-big.font-weight-bold.mb-0.d-flex.align-items-center
      = image_tag(@user.avatar.url, alt: "ユーザープロフィール画像", class: "u-image-size-small rounded-circle mr-2")
      = @user.name

.c-tab
  .c-tab__nav
    = link_to user_path(@user), class: "c-tab__link col-6" do
      %i.fas.fa-user.mr-1<>
      プロフィール
    .c-tab__link.c-tab__link--is-active.col-6
      %i.fas.fa-newspaper.mr-1<>
      募集

.p-article-list.col-12
  - if @articles.present?
    = render partial: "articles/article", collection: @articles
  - else
    = render 'common_partials/no-content' do
      募集記事がありません。

= paginate(@articles)
